/* line 39, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_variable.scss */
p {
  color: white; }

/* Fonts */
/* line 26, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_fonts.scss */
* {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

/* Mixins */
/* line 3, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

/* line 8, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.clearfix:after {
  clear: both; }

/* line 13, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

/* line 16, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
a:focus {
  outline: none; }

/* line 19, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
::-webkit-input-placeholder {
  opacity: 1; }

/* line 22, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1; }

/* line 25, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1; }

/* line 28, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
:-ms-input-placeholder {
  opacity: 1; }

/* line 31, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

/* line 38, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid green; }

/* line 42, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid blue; }

/* line 45, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid blue; }

/* line 48, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.arrow-up {
  width: 0;
  height: 0;
  border-bottom: 40px solid green;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent; }

/* line 53, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.bot-icon {
  background-image: url("/images/bot.png"); }

/* line 53, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.associations-icon {
  background-image: url("/images/associations.png"); }

/* line 53, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.moneydumper-icon {
  background-image: url("/images/moneydumper.png"); }

/* line 53, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.colluder-icon {
  background-image: url("/images/colluder.png"); }

/* line 53, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.bonusabuser-icon {
  background-image: url("/images/bonusabuser.png"); }

/* line 53, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
.rule-violation-icon {
  background-image: url("/images/rule-violation.png"); }

/* line 60, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
h1 {
  font-size: 2em; }

/* line 60, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
h2 {
  font-size: 1.5em; }

/* line 60, C:/pavan/my/dashboard/angular-dashboard/sample/dashboard2/src/app/scss/custom/_default.scss */
h3 {
  font-size: 1.2em; }

/*# sourceMappingURL=app.css.map */