

<div id="wrapper">
	<div class="ss" style="height:60px;">
	</div>

</div>
<!-- /wrapper -->

<div class="container">
	<section>
		<div class="animation-block">
			<div class="loader">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>


			<div class="md-btn-block">
				<div class="m-btn m-btn-blob">&times;</div>

			</div>

			<div class="wrap">	
				<button class="circle1"></button>
				<div class="circle angled"></div>
			</div>
			<span href="#" class="circle2"></span>
			<span href="#" class="circle3"></span>
			<span href="#" class="circle4"></span>
			<span href="#" class="line-circle"></span>
			<span href="#" class="circle5"></span>
			<span href="#" class="circle6"></span>
			<span href="#" class="circle-shadows">
				<div class="hole">
					<i></i>
					<i></i>
					<i></i>
					<i></i>
				</div>
			</span>
			<span href="#" class="circle7"></span>

			<div class="bottom1">
				<div class="loader">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="bottom2">
				<div class="loader">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
	</section>



	<div class="ss" style="height:200px;">





	</div>
